<!DOCTYPE html>
<html>
  <head>
    <title>WOLFProjectsManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'layouts/libraries' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class='bg-light'>
    <div class="container pt-5">
      <p class="notice"><%= render 'shared/navbar' %></p>
      <p class="alert"><%= render 'shared/flashes' %></p>
        <%= yield %>
    </div>
  </body>
</html>
